// .navbar-container{
//     width:100%;
// }
.donate{
    color: white;
    border: blue;
    border-radius: 10px;
    font-weight: bold;
    background-color: blue;

    &:hover{
        color: white;
    }
}


